@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #16213e;
  color: white;
}

.header {
  background-color: #000000;
}

.card {
  background-color: #000000;
  border-radius: 10px;
}
